extends layout

block content
  .container
      .row
      .row#textcontainer
            | <script type="text/x-handlebars" data-template-name="fetcher">
            | {{input type="text" on="change" id="fetchurl" class="form-control col-md-10 col-md-offset-1"placeholder="URL" action="updateTextUnits" class="form-control"}}
            | <div class="well col-md-10 col-md-offset-1">
            | {{#each textunit in model}}
            |   <h2>{{textunit.title}}</h2>
            | {{/each}}
            | </div>
            | </script>
